---
import Layout from "../layouts/Layout.astro";
import { cn } from "../utils";
---

<Layout title="Welcome to Astro.">
  <main>
    <button
      class={cn([
        "bg-cyan-500",
        "hover:bg-cyan-400",
        "rounded-full  font-semibold text-white ",
        /* Fluid code */
        "~text-sm/xl ~px-4/8 ~py-2/4",
      ])}>Fluid button</button
    >
  </main>
</Layout>
